<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .full{
    width:100%;
  }
  .align-right{
    position: relative;
  }
</style>
<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" *ngIf="enableSide" id="mySidebar" [style.width]="sidebarWidth">
  <button class="w3-button w3-block w3-left-align full" (click)="toggleAcc()">
  Groups <span *ngIf="!showAcc" >&#9660;</span><span *ngIf="showAcc">&#9650;</span>
  </button>
  <div id="demoAcc" class="w3-bar-block w3-white w3-card-4" *ngIf="showAcc" >
    <a routerLink="/gpdetails" class="w3-bar-item w3-button">Food Sharing Group</a>
    <a routerLink="/gpdetails" class="w3-bar-item w3-button">Link</a>
    <a routerLink="/gpcreate" class="w3-bar-item w3-button w3-green w3-text-yellow"> Create group +</a>
  </div>
  <a routerLink='/gpleader' class="w3-bar-item w3-button w3-yellow">Group Controls</a>
  <a routerLink='/wbadmin' class="w3-bar-item w3-button w3-red">Admin</a>
</div>
<div class="full" id="main" [style.marginLeft]="mainMargin">
<nav class="navbar navbar-default w3-teal">
  <div class="container-fluid w3-teal">
     
    <ul class="nav navbar-nav">
      <li> <a routerLink="" class="w3-text-white w3-animate-left">Expense Tracker</a></li>
      <li> <button class="w3-button w3-teal w3-xlarge w3-animate-left" (click)="w3_open()" *ngIf="loginVerified">&#9776;</button></li>
      <li><a routerLink="/home" routerLinkActive="active" class="w3-text-white w3-animate-left">Home</a></li>
      <li> <button class="w3-button w3-teal w3-xlarge" (click)="hide()">&#9776;</button></li>
    </ul>
  </div>
</nav>
  <router-outlet></router-outlet>
</div>
